$corPrincipal : #49c5b1;
$secundaria:blue;
$center:center;
$corTextoLadoEsq:#fff;
$recuoDoBloco:10px;
$fontePrincipal:"Open Sans";
$resetPadding: 0px 0px 0px 0px;
$cinzaGrafico :#a6a5a5;
$espacamentoTopo: 40px;